<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Img</th>
    </tr>
    <tr th:each="p,loop:${products}">
        <td th:text="${loop.count}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td><img th:src="${p.img}" width="200" height="150"></td>
    </tr>
</table>
</body>
</html>